[phases.setup]
nixPkgs = ["go_1_21", "nodejs_20"]

[phases.install]
cmds = [
    "go install github.com/a-h/templ/cmd/templ@latest"
]

[phases.build]
cmds = [
    "templ generate",
    "npx tailwindcss -i ./static/input.css -o ./static/output.css --minify",
    "go build -o main ."
]

[start]
cmd = "./main"